<div class="about-container" style="background:black; background-repeat: no-repeat; background-size: cover; width: 1000px;">
    <div class="about-content">
      <h1>About Us ❤️</h1>
      <p>
        Our mission is to create a community where learning feels like a game. We aim to provide quizzes that are not only educational but also entertaining. With Quiztopia, you can challenge yourself, compete with friends, and even track your progress as you improve your skills.
      </p>
    </div>
    <div class="about-video">
      <video src="assets/images/gif.webm" autoplay loop class="quiz"></video>
    </div>
  </div>
  