
<body style="background-size: cover; width: 1100px;background: #F3C646;background-repeat: no-repeat;background-size: cover;">
    <div class="about-container" style="background: #F3C646;background-repeat: no-repeat;background-size: cover;margin-left: 70px;">
        <div class="about-content">
            <div class="container mt-5">
                <h1 class="quiz-heading" style="margin-right: 190px;">Quiz Topics</h1>
                <div class="row">
                    <!-- First Column -->
                    <div class="col-md-6">
                        <div class="quiz-box mb-4" style="background: url(assets/images/effect.gif);width: 300px;">
                            <h4 style="color: white;"(click)="navigateToPage()">General Knowledge</h4>
                        </div>
                        <div class="quiz-box mb-4" style="background: url(assets/images/tech.gif);width: 300px;">
                            <h4 style="color: white;">Science and Technology</h4>
                        </div>
                        <div class="quiz-box mb-4" style="background: url(assets/images/maths.gif);width: 300px;">
                            <h4 style="color: white;">Mathematics</h4>
                        </div>
                        <div class="quiz-box mb-4" style="background: url(assets/images/history.gif);background-repeat: no-repeat; background-size: cover;width: 300px;">
                            <h4 style="color: black;">History</h4>
                        </div>
                        <div class="quiz-box mb-4" style="background: url(https://cdn.pixabay.com/animation/2024/02/22/18/49/18-49-07-353_512.gif);width: 300px;">
                            <h4>Geography</h4>
                        </div>
                    </div>
                
                    <!-- Second Column -->
                    <div class="col-md-6">
                        <div class="quiz-box mb-4" style="background: url(https://media1.giphy.com/media/WvuTFk2IN7jxoLVDkP/200w.gif?cid=6c09b9528ab9vfskm6xbxygopb2z00yonr5f3kutw4mgza19&ep=v1_gifs_search&rid=200w.gif&ct=g);width: 300px;">
                            <h4>Sports</h4>
                        </div>
                        <div class="quiz-box mb-4" style="background: url(https://i.pinimg.com/originals/36/82/cc/3682ccb6188e4b220862b45b740a4c33.gif);width: 300px;">
                            <h4 style="color: white;">Movies and Entertainment</h4>
                        </div>
                        <div class="quiz-box mb-4" style="background: url(https://i.pinimg.com/originals/6d/2c/b5/6d2cb59244a285c67076f2785b7d8418.gif);width: 300px;">
                            <h4>Language and Literature</h4>
                        </div>
                        <div class="quiz-box mb-4" style="background: url(https://media0.giphy.com/media/taC4Gci3PCoBnWvws4/200w.gif?cid=82a1493bbppbem8gv72vbc17we45uu9a2nm9ys618e7lamld&ep=v1_gifs_related&rid=200w.gif&ct=g);background-repeat: no-repeat;background-size: cover;width: 300px;">
                            <h4>Logical Reasoning 
                                
                            </h4>
                        </div>
                        <div class="quiz-box mb-4" style="background: url(https://media.tenor.com/S4MdyoCR3scAAAAM/oblakao.gif);width: 300px;">
                            <h4>Health and Fitness</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>